<div class="{{ grid }}">
    <h1>{{ title }}</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome E Nome</th>
                <th>Username</th>
                <th>Username</th>
                <th>Username</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Jack</td>
                <td>Dieci</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>Jack</td>
                <td>Dieci</td>
                <td>@mdo xcxxcxcv xcvx</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>Jack</td>
                <td>Dieci</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>