<div class="wrap-headline-search row">
    <div class="form-search grid-8">
        <form class="navbar-form navbar-left" role="search">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input autocomplete="off" list="json-datalist" id="txt-location" class="form-control" type="text" placeholder="Inserisci località">
                <datalist id="json-datalist"></datalist>
                <span class="input-group-btn">
                    <button id="btn-txt-location" class="btn btn-primary" type="button">Cerca</button>
                </span>
            </div>
        </form>
    </div>
    <div class="txt-search grid-4">
        <p>Inserisci la località e scopri tutte le offerte più vicine a te!</p>
    </div>
</div>